body {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  color: #211B1E;
  background-color: #FBFBFB;
  box-shadow: 0 4px 8px 0 #E18FBD;
}

.navbar {
  padding: 20px;
}

.masthead {
  height: 120vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FBFBFB;
  padding: 150px;
}

.masthead-subheading {
  color: #211B1E;
}

.title-container {
  height: 120vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #CF528F;
  padding: 150px;
}

.logo {
  width: 20.5rem;
  height: 10.25rem;
}

.masthead-subheading {
  padding: 10px;
}

.masthead-image {
  width: 400px;
  height: 350px;
}

section {
  padding: 7% 5%;
}

#services {
  background-color: #BE588E;
  color: #FBFBFB;
}

.service-icon {
  width: 12.5rem;
  height: 6.25rem;
  margin-bottom: 15px;
}

.service-tagline {
  line-height: 2;
}

#testimonials {
  background-color: #FBFBFB;
}

.testimonial-heading {
  padding: 25px;
  color: #CF528F;
}

.testimonial-card {
  background-color: #FBFBFB;
  border: 3px solid #16DCDF;
  color: #CF528F;
  line-height: 2;
  font-weight: 500;
}

.testimonial-quote {
  width: 100px;
  height: 100px;
}

.image-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.testimonial-button {
  background-color: #16DCDF;
  color: #CF528F;
  margin: 20px;
}

.testimonial-button:hover {
  background-color: #FBFBFB;
  border: 2px solid #CF528F;
  color: #CF528F;
}

.call-to-action {
  background-color: #CF528F;
  color: #FBFBFB;
}

.cta-heading {
  line-height: 2;
}

.cta-subheading {
  line-height: 2;
}

.cta-button {
  border: 2px solid #FBFBFB;
  color: #FBFBFB;
}

.cta-buttons {
  margin-top: 15px;
}

a.cta-button:hover {
  background-color: #16DCDF;
  border: 2px solid #16DCDF;
  color: #FBFBFB;
}

.social-media-icon {
  color: #FBFBFB;
}

.social-media-icon:hover {
  color: #16DCDF;
}

.fairy-logo {
  width: 200px;
  height: 200px;
}

.services-heading {
  color: #FBFBFB;
}

.main-subheading {
  color: #FBFBFB;
  font-family: 'Satisfy', cursive;
}

#cleaning-main-container hr {
  border-color: #FBFBFB;
}

.offerings {
  margin: 10px;
  color: #FBFBFB;
  background-color: #CF528F;
  border-color: #FBFBFB;
}

#menu {
  background-color: #FBFBFB;
}


.section-heading {
  color: #CF528F;
}

#menu hr {
  border-color: #16DCDF;
}

.section-subheading {
  color: #E18FBD;
}

.cleaning-list {
  color: #CF528F;
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 500;
}

.cleaning-item:hover {
  color: #16DCDF;
}

.work {
  width: 50px;
  height: 400px;
}

#before-and-after {
  background-color: #FBFBFB;
}

.images {
  width: 200px;
  height: 200px;
  margin-bottom: 2rem;
}


#cleaning-cta {
  color: #FBFBFB;
}

/* Before and after */

.row > .column {
  padding: 8px 8px;
}

.before-after-images hr {
  border-color: #16DCDF;
}

#cleaning-cta hr {
  border-color: #FBFBFB;
}

.column {
  float: left;
  width: 25%;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoom:hover {
  transform: scale(1.5);
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.section-subheading {
  font-family: 'Satisfy', cursive;
}


#refinishing-main-container {
  height: 120vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FBFBFB;
  padding: 150px;
}

.refinish-heading {
  color: #CF528F;
}

.customer-icons {
  width: 60%;
}


.headline {
  font-size: 3rem;
  color: #CF528F;
}


.refinishing-headline {
  font-size: 3rem;
  color: #CF528F;
}

.refinish-subheading {
  color: #CF528F;
}

#refinishing-main-container hr {
  border-color: #CF528F;
}

.refinish-text {
  font-family: 'Satisfy', cursive;
}

.info-section {
  background-color: #FBFBFB;
  color: #CF528F;
}


.warranty-image {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.warranty-title {
  line-height: 2;
}

.warranty-text {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
}

.about-main {
  height: 120vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FBFBFB;
  padding: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-profile {
  margin-top: 4rem;
}

.about-image {
  width: 100%;
  height: 200px;
  margin-bottom: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-text {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.8;
}

.contact-nav {
  box-shadow: 0 4px 8px 0 #CF528F;
}

.contact-main-container {
  background-color: #FBFBFB;
}

.contact-heading {
  font-size: 3rem;
  font-family: 'Satisfy', cursive;
  color: #CF528F;
}

.contact-banner {
  width: 100%;
}

.contact-main {
  /* background-color: #E18FBD; */
}

footer {
  padding: 20px;
  background-color: #F9C8E0;
  color: #211B1E;
}

.footer-link {
  color: #211B1E;
}

/* Media Queries */
@media (max-width: 1028px) {

  /*1028px or less tablet or phone size */
.masthead-subheading {
  display: none;
}

.service-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.service-tagline {
  font-size: 1.2rem;
}

.card-text {
  font-size: 1.2rem;
}

.cta-button {
  margin: 10px;
}

.title-container {
  height: 1200px;
  padding-bottom: 10rem;
}

}
